<component name="ArtifactManager">
  <artifact type="war" name="springlearn:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springlearn-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springlearn:war exploded" />
    </root>
  </artifact>
</component>